<a href="/admin/dashboard">&larr; Back</a>
<div class="admin-title">
    <h2>Add New Publication</h2>
</div>

<form action="/admin/add-publication" method="POST" enctype="multipart/form-data">
    <label for="doc-title"><b>Title</b></label><br>
    <input type="text" name="doc-title" id="" placeholder="Publication Title"><br><br>

    <label for="title"><b>Document</b></label><br>
    <input type="file" name="files" id="" multiple><br><br>



    <input type="submit" value="Add" class="btn">
</form>