<div id="google_translate_element" class="translate-div"></div>
<div class="admin-login-div container">
    <h3>Create Admin </h3>
    <form action="/admin/create" method="post">
        <input type="text" name="username" id="admin-name" placeholder="Username">
        <input type="password" name="password" id="admin-password" placeholder="Password">
        <input type="submit" value="Create Admin">
    </form>
</div>