<!-- Footer Section Begins Here  -->
<section class="subscribe container wrapper">
    <div class="subscribe_wrapper">

        <h1>Subscribe To Our NewsLetter</h1>

        <form action="#" class="form_email" method="POST">
            <input type="text" placeholder="Enter Your Email">
            <input type="submit" value="Subscribe Now">
        </form>
    </div>

</section>
<footer id="footer">
    <div class="footer_wrapper container wrapper">
        <label for="logo" class="logo">
            <a href="/"><img src="/img/logo.png" title="IFA Logo" alt="IFA Logo"></a>
        </label>
        <div class="credits">
            <div class="footer-contact">
                <h4 class="footer-h4">Our Contact</h4>
                <p>No. 1 Patricia Etteh Close, Wuye, Abuja, Nigeria</p><br>
                <a href="tel:+2348160646394">
                    <p>+234 816 064 6394</p>
                </a><br>
                <a href="mailto:info@inclusivefriends.org">
                    <p>info@inclusivefriends.org</p>
                </a>
            </div>

            <div class="credits_tags">
                <h4 class="footer-h4">About us</h4>
                <a href="/whoweare">Who we are</a>
                <a href="/whatwedo">What we do</a>
                <a href="/#team-section">Meet the team</a>
            </div>
            <div class="programs-footer">
                <h4 class="footer-h4">Programs & Events</h4>
                <a href="/accessNigeria">Access Nigeria</a>
                <a href="">Advocacy for Disability Act Cluster</a>
                <a href="/amplifyingVoices">Amplifying Voices</a>
                <a href="/learningTogether">Learning Together</a>
                <a href="/makingitWork">Making it Work</a>
                <a href="">Participate Today</a>
                <a href="">Quality Inclusive Education</a>
                <a href="">Votes-Ability Campaign</a>
                <a href="">Wheel Chair Drive</a>
            </div>
        </div>

        <div class="follow">
            <p>Follow Us</p>

            <div class="logos">
                <a href="https://x.com/inclusivefrnds" target="_blank"><img src="/img/new-twitter-rectangle.svg"
                        width="24" alt=""></a>
                <a href="https://www.instagram.com/inclusivefrnds/" target="_blank"><img src="/img/instagram.svg"
                        width="24" alt=""></a>
                <a href="https://web.facebook.com/inclusivefriends" target="_blank"><img src="/img/facebook-01.svg"
                        width="24" alt=""></a>
                <a href="https://www.linkedin.com/company/inclusive-friends-association/" target="_blank"><img
                        src="/img/linkedin-01.svg" width="24" alt=""></a>
                <a href="https://www.youtube.com/@inclusivefriendsassociatio7242" target="_blank"><img
                        src="/img/youtube.svg" width="24" alt=""></a>

            </div>
        </div>


    </div>
    <div class="copywright">
        <p>Copyright 2024. Inclusive Friends Association - All Rights Reserved</p>
    </div>
</footer>