<!-- Top Navigation Section  -->
<div class="top-nav container wrapper">
    <div class="left-nav">
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path
                    d="M11 18.791V20H9v2h6v-2h-2v-1.845a9.934 9.934 0 0 0 3.071-2.084c3.898-3.898 3.898-10.243 0-14.143l-1.414 1.414c3.119 3.12 3.119 8.195 0 11.314-3.119 3.118-8.195 3.12-11.314 0L1.929 16.07A9.971 9.971 0 0 0 9 18.994a9.98 9.98 0 0 0 2-.203z">
                </path>
                <path
                    d="M3 9c0 3.309 2.691 6 6 6s6-2.691 6-6-2.691-6-6-6-6 2.691-6 6zm10 0c0 2.206-1.794 4-4 4s-4-1.794-4-4 1.794-4 4-4 4 1.794 4 4z">
                </path>
            </svg>
            <div>Hi, Admin</div>
        </a>
        <a onclick="toggleTheme()" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M8 9c-1.628 0-3 1.372-3 3s1.372 3 3 3 3-1.372 3-3-1.372-3-3-3z"></path>
                <path
                    d="M16 6H8c-3.3 0-5.989 2.689-6 6v.016A6.01 6.01 0 0 0 8 18h8a6.01 6.01 0 0 0 6-5.994V12c-.009-3.309-2.699-6-6-6zm0 10H8a4.006 4.006 0 0 1-4-3.99C4.004 9.799 5.798 8 8 8h8c2.202 0 3.996 1.799 4 4.006A4.007 4.007 0 0 1 16 16zm4-3.984.443-.004.557.004h-1z">
                </path>
            </svg>
            <span>High Contrast</span>
        </a>
        <a href="mailto:info@inclusivefriends.org" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path
                    d="M16 2H8C4.691 2 2 4.691 2 8v12a1 1 0 0 0 1 1h13c3.309 0 6-2.691 6-6V8c0-3.309-2.691-6-6-6zm4 13c0 2.206-1.794 4-4 4H4V8c0-2.206 1.794-4 4-4h8c2.206 0 4 1.794 4 4v7z">
                </path>
                <circle cx="9.5" cy="11.5" r="1.5"></circle>
                <circle cx="14.5" cy="11.5" r="1.5"></circle>
            </svg>
            <span>Send a Message</span>
        </a>

    </div>
    <div class="right-nav">

        <a href="https://x.com/inclusivefrnds" target="_blank"><img src="/img/new-twitter-rectangle.svg" alt=""></a>
        <a href="https://www.instagram.com/inclusivefrnds/" target="_blank"><img src="/img/instagram.svg" alt=""></a>
        <a href="https://web.facebook.com/inclusivefriends" target="_blank"><img src="/img/facebook-01.svg" alt=""></a>
        <a href="https://www.linkedin.com/company/inclusive-friends-association/" target="_blank"><img
                src="/img/linkedin-01.svg" alt=""></a>
        <a href="https://www.youtube.com/@inclusivefriendsassociatio7242" target="_blank"><img src="/img/youtube.svg"
                alt=""></a>


    </div>
</div>
<!-- Top Navigation Section Ends  -->

<!-- Header Section Starts  -->

<div class="header container wrapper">
    <div class="header-left">
        <!-- Logo Div  -->
        <div class="logo"><a href="/"><img src="/img/logo.png" alt="IFA Logo"></a></div>

        <!-- Header Links  -->
        <div class="header-links">
            <div class="products">
                <a href="">About us</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                </svg>
                <ul class="about-us-drop">
                    <li><a href="/whoweare">Who we are</a></li>
                    <li><a href="/whatwedo">What we do</a></li>
                    <li><a href="/#team-section">Meet the team</a></li>
                </ul>
            </div>
            <div class="solutions">
                <a href="">Programs & Events</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                </svg>
                <ul class="programs-drop">
                    <li><a href="/accessNigeria">Access Nigeria</a></li>
                    <li><a href="">Advocacy for Disability Act Cluster</a></li>
                    <li><a href="/amplifyingVoices">Amplifying Voices</a></li>
                    <li><a href="/learningTogether">Learning Together</a></li>
                    <li><a href="/makingitWork">Making it Work</a></li>
                    <li><a href="">Participate Today</a></li>
                    <li><a href="">Quality Inclusive Education</a></li>
                    <li><a href="">Votes-Ability Campaign</a></li>
                    <li><a href="">Wheel Chair Drive</a></li>
                </ul>
            </div>
            <a href="/newsUpdates">News & Updates</a>
            <div class="products">
                <a href="">Resources</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                </svg>
                <ul class="about-us-drop">
                    <li><a href="/publications">Publications</a></li>
                    <li><a href="/reports">Reports</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="header-right">
        <a href="/admin/logout">Logout</a>
        <!-- <a href="">Volunteer</a> -->
    </div>
    <div class="header-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24">
            <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
        </svg>
    </div>
</div>