<!DOCTYPE html>
<html lang="en">

<head>
    <!-- This Website was built by Circo Digital Technologies August 2024 -->
    <!-- Inclusive Friends Association 1.0.0 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="<%= locals.description %>">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
        content="IFA, Disability, Inclusive, Inclusion, NGO, CSO Abuja, CSO Nigeria, Inclusive Friends Association">
    <meta name="author" content="IFA">
    <meta name="robots" content="index, follow">
    <title>IFA | Inclusive Friends Association - <%= locals.title %>
    </title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script defer src="/js/script.js"></script>
</head>

<body>

    <div class="">
        <%- include('../partials/header_admin.ejs') %>
            <div class="wrapper">

                <%- body %>
            </div>
          

    </div>

    <!-- Google Translate Widget Code -->
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'en,fr,yo,ig,ha'
            }, 'google_translate_element');
        }


        function toggleTheme() {
            document.documentElement.classList.toggle('dark-theme');
        }
    </script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        CKEDITOR.replace('content');
    </script>
</body>

</html>