<!-- Video Pop up  -->
<div id="video-popup" class="video-popup">
    <div class="video-popup-content">
        <span id="close-video-btn" class="close-video-btn">&times;</span>
        <iframe id="video-frame" 
            src="https://www.youtube.com/embed/D-YGxxe_Isc?si=0tFdeIJ64cL36rHn" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>


<div id="google_translate_element" class="translate-div"></div>
<!-- Hero Section Begins Here  -->
<div class="hero container">
    <div class="hero-left">
        <p class="child-1">Welcome to the </p>
        <h1>Inclusive Friends Association</h1>
        <p class="child-2">Inclusive Friends Association (IFA) is a Person with Disability (PWD) woman-led
            non-profit and non-governmental
            organization that employs data to address the inclusion and participation challenges of over 30
            million
            PWDs in Nigeria
            through advocacy, training, and research</p>
        <div class="cta-button">
            <a href="/whoweare">Learn more</a>
            <!-- <a href="">Volunteer</a> -->
        </div>
    </div>
    <div class="hero-right">
        <img src="/img/hero.webp" alt="Hero Image">
    </div>
</div>

<!-- Hero Section Ends Here  -->

<!-- Brand Section Begins Here  -->
<section class="brands container">
    <div class="brand-detail">
        <p>Our Donors and Partners</p>
    </div>
    <div class="brand-list-container">
        <button class="scroll-btn left-btn">&#8249;</button>

        <div class="brand-list" id="brand-list">
            <div class="brand-item"><img src="/img/01.png" alt=""></div>
            <div class="brand-item"><img src="/img/02.svg" alt=""></div>
            <div class="brand-item"><img src="/img/03.png" alt=""></div>
            <div class="brand-item"><img src="/img/04.png" alt=""></div>
            <div class="brand-item"><img src="/img/05.jpg" alt=""></div>
            <div class="brand-item"><img src="/img/06.png" alt=""></div>
            <div class="brand-item"><img src="/img/07.jpg" alt=""></div>
            <div class="brand-item"><img src="/img/08.jpg" alt=""></div>
            <div class="brand-item"><img src="/img/09.jpeg" alt=""></div>
            <div class="brand-item"><img src="/img/10.jpg" alt=""></div>
            <div class="brand-item"><img src="/img/11.png" alt=""></div>
        </div>
        <button class="scroll-btn right-btn">&#8250;</button>

    </div>
</section>

<!-- Brand Section Ends Here  -->

<!-- About IFA Section  -->

<section class="what-is-hubspot container">
    <div class="what-is-hubspot-left">
        <img src="/img/Who we are.png" alt=" Video ">
        <div class="play-div open-video-btn" id="open-video-btn">
            <svg xmlns="http://www.w3.org/2000/svg" class="play-video" viewBox="0 0 24 24">
                <path d="M7 6v12l10-6z"></path>
            </svg>
        </div>
    </div>
    <div class="what-is-hubspot-right">
        <h2>Who We Are</h2>
        <p>The Inclusive Friends Association (IFA) is a Person with Disability (PWD) woman-led non-profit
            organization that
            promotes the rights of Persons with Disabilities in Africa. Operating extensively throughout
            Nigeria,
            IFA stands as an
            innovative frontrunner and influential force within the disability community.</p>
        <p>Disability inclusion is at the core of our programming. We employ ART (Advocacy, Research, and
            Training)
            as a framework
            for our interventions that drive positive change in the lives of PWDs.</p>
        <div class="cta-button">
            <a href="/whoweare">Learn more</a>
            <!-- <a href="">Get started free</a> -->
        </div>
    </div>

</section>

<!-- What We Do Section -->
<section class="what-we-do container">
    <div class="what-we-do-left">
        <img src="/img/whatwedo.jpeg" alt=" Video ">
    </div>
    <div class="what-we-do-right">
        <h2>What We Do</h2>
        <p>IFA collaborates, organizes communities, identifies the issue(s), develops approaches or strategies
            and
            deploy tactics
            to achieve them. Our unique approach is that PWDs are trained or equipped with the skill to lead the
            process themselves,
            thereby increasing their agency for advocate. We conduct data gathering/baselines of barriers within
            the
            theme of our
            project, present findings and proffer time-bound solutions or recommendations and drive actions for
            those
            recommendations to be implemented by key targets.</p>

        <div class="cta-button">
            <a href="/whatwedo">Learn more</a>
            <!-- <a href="">Get started free</a> -->
        </div>
    </div>

</section>

<!-- What is HubSpot Section Ends Here  -->

<!-- Services Section Begins Here  -->
<section class="services container">

    <div class="services-text">
        <h2>At the <span style="color: #096866;">Inclusive Friends Association,</span> disability inclusion is
            at
            the core of our programming.</h2>
        <p>We employ ART (Advocacy, Research, and Training) as a framework for our interventions that drive
            positive
            change in the
            lives of PWDs. Through relentless advocacy efforts, we are creating a lasting impact by influencing
            national and
            subnational policies and practices.</p>
        <div class="cta-button">
            <a href="">Donate</a>
            <a href="">Volunteer</a>
        </div>
    </div>

    <div class="services-cards">
        <div class="card">
            <div class="marketing-hub">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);">
                    <path
                        d="M20 6c0-2.168-3.663-4-8-4S4 3.832 4 6v2c0 2.168 3.663 4 8 4s8-1.832 8-4V6zm-8 13c-4.337 0-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3c0 2.168-3.663 4-8 4z">
                    </path>
                    <path d="M20 10c0 2.168-3.663 4-8 4s-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3z">
                    </path>
                </svg>
                <div>
                    <p>Data Driven</p>
                </div>
            </div>
            <p class="card-text">we invest our resources to generating qualitative and quantitative data
            </p>

        </div>
        <div class="card">
            <div class="marketing-hub">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);">
                    <path
                        d="M7.08 11.25A4.84 4.84 0 0 1 8 9.05L4.43 5.49A9.88 9.88 0 0 0 2 11.25zM9.05 8a4.84 4.84 0 0 1 2.2-.91V2a9.88 9.88 0 0 0-5.76 2.43zm3.7-6v5A4.84 4.84 0 0 1 15 8l3.56-3.56A9.88 9.88 0 0 0 12.75 2zM8 15a4.84 4.84 0 0 1-.91-2.2H2a9.88 9.88 0 0 0 2.39 5.76zm3.25 1.92a4.84 4.84 0 0 1-2.2-.92l-3.56 3.57A9.88 9.88 0 0 0 11.25 22zM16 9.05a4.84 4.84 0 0 1 .91 2.2h5a9.88 9.88 0 0 0-2.39-5.76zM15 16a4.84 4.84 0 0 1-2.2.91v5a9.88 9.88 0 0 0 5.76-2.39zm1.92-3.25A4.84 4.84 0 0 1 16 15l3.56 3.56A9.88 9.88 0 0 0 22 12.75z">
                    </path>
                </svg>
                <div>
                    <p>Refining Institutions</p>
                </div>
            </div>
            <p class="card-text">We advocate to influence national and subnational policies and practices
            </p>

        </div>
        <div class="card">
            <div class="marketing-hub">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);">
                    <path
                        d="M3.299 17.596c.432 1.332 1.745 2.182 3.146 2.182H6.5A2.78 2.78 0 0 0 9.223 22c.457 0 .884-.115 1.262-.313a.992.992 0 0 0 .515-.882V3.027a.997.997 0 0 0-.785-.983 2.324 2.324 0 0 0-1.479.201c-.744.356-1.18 1.151-1.18 1.978v.055a2.778 2.778 0 0 0-2.744 4.433A3.327 3.327 0 0 0 2 12c0 1.178.611 2.211 1.533 2.812-.43.771-.571 1.746-.234 2.784zm15.889-8.885a2.778 2.778 0 0 0-2.744-4.433v-.055c0-.826-.437-1.622-1.181-1.978a2.32 2.32 0 0 0-1.478-.201.998.998 0 0 0-.785.983v17.777c0 .365.192.712.516.882.378.199.804.314 1.261.314a2.78 2.78 0 0 0 2.723-2.223h.056c1.4 0 2.714-.85 3.146-2.182.337-1.038.196-2.013-.234-2.784A3.35 3.35 0 0 0 22 12a3.327 3.327 0 0 0-2.812-3.289z">
                    </path>
                </svg>
                <div>
                    <p>Building Capacities</p>
                </div>
            </div>
            <p class="card-text">We build the capacity of individuals, partners and government officials to
                effect
                the positive systemic change
            </p>

        </div>

        <!-- Small Biz Section  -->
        <div class="small-biz">
            <div class="small-biz-left">
                <h2>Connect with us</h2>
                <p>You can be an Inclusive Friend and a solution to this marginalized group. Join the movement
                    for
                    an accessible and
                    inclusive world.</p>
                <a href="" class="learn-button">Connect with us</a>
            </div>
            <div class="small-biz-right">
                <img src="/img/1725279091827.jpeg" alt="">
            </div>
        </div>
    </div>

</section>

<!-- Services Section Ends Here  -->

<!-- Solution Section begins  -->
<section class="solution container">
    <div class="solution-text">
        <h2>News and Updates</h2>

    </div>
    <div class="solution-cards">
        <% data.reverse().slice(0, 3).forEach(post=> { %>
            <div class="solution-card">
                <img src="/img/ADL_5126-780x437.jpg" alt="">
                <p class="solution-card-text">
                    <%= post.title %>
                </p>

                <p class="date">
                    <%= post.createdAt.toDateString() %>
                </p>

                <p class="solution-card-text-2">
                    <%- truncateWords((post.body.replace(/<[^>]*>/g, '')), 50) %>...
                </p>
                <a href="/newsDetail/post/<%= post._id %>" class="learn-button">Read more</a>
            </div>

            <% }) %>

    </div>
    <a href="/newsUpdates" class="more-button">See more</a>
</section>

<!-- Meet The Team  -->
<div class="team-section" id="team-section">
    <h2>Meet The Team</h2>

</div>
<div class="team-div ">
    <div class="team-member">
        <img src="/img/GraceJerry.jpg" alt="">
        <div class="team-member-text">
            <h3>Grace Jerry</h3>
            <p>CEO,Inclusive Friends Association</p>

        </div>
    </div>
    <div class="team-member">
        <img src="/img/stephen.jpg" alt="">
        <div class="team-member-text">
            <h3>Stephen Idoko</h3>
            <p>Inclusive Friends Association</p>

        </div>
    </div>
    <div class="team-member">
        <img src="/img/alfred.jpg" alt="">
        <div class="team-member-text">
            <h3>Kolade Alfred</h3>
            <p>Inclusive Friends Association</p>

        </div>
    </div>
    <div class="team-member">
        <img src="/img/Okpeh.jpg" alt="">
        <div class="team-member-text">
            <h3>Grace Jerry</h3>
            <p>Inclusive Friends Association</p>

        </div>
    </div>
    <div class="team-member">
        <img src="/img/alfred.jpg" alt="">
        <div class="team-member-text">
            <h3>Grace Jerry</h3>
            <p>Inclusive Friends Association</p>

        </div>
    </div>
    <div class="team-member">
        <img src="/img/GraceJerry.jpg" alt="">
        <div class="team-member-text">
            <h3>Grace Jerry</h3>
            <p>Inclusive Friends Association</p>

        </div>
    </div>
    <div class="team-member">
        <img src="/img/GraceJerry.jpg" alt="">
        <div class="team-member-text">
            <h3>Grace Jerry</h3>
            <p>Inclusive Friends Association</p>

        </div>
    </div>
</div>
<script>
    const truncateWords = (text, maxLength) => {
        const words = text.split(' ');
        if (words.length > maxLength) {
            return words.slice(0, maxLength).join(' ') + '...';
        }
        return text;
    }
</script>
<!-- Google Translate Widget Code -->

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,fr,yo,ig,ha'
        }, 'google_translate_element');
    }


    function toggleTheme() {
        document.documentElement.classList.toggle('dark-theme');
    }
</script>
<script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>