<!-- Who we are Page Section  -->
<div class="what-we-do-page">
    <h1>Learning Together </h1>
    <div class="slider-container">
        <div class="slider">
            <img src="/img/learning.jpg" class="slide" alt="Image 1">
            <!-- <img src="/img/ADL_5126-780x437.jpg" class="slide" alt="Image 2">
                    <img src="/img/1725279091827.jpeg" class="slide" alt="Image 3">
                    <img src="/img/empower.jpg" class="slide" alt="Image 3">
                    <img src="/img/331304175_874135340556438_7350222964583699050_n.jpg" class="slide" alt="Image 3"> -->
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>

    <p>The project is an IFA driven project where children with disabilities (CWDs) are sponsored in various schools to
        support
        their academic learning. These children are in special schools and non-special schools. The idea for us is
        growing to a
        time when more children with disabilities are enrolled in mainstream schools and foster integration among school
        children irrespective of their disability status.</p>


</div>