<!-- Who we are Page Section  -->
<div class="what-we-do-page">
    <h1>Making it Work </h1>
    <div class="slider-container">
        <div class="slider">
            <img src="/img/makeitwork.jpg" class="slide" alt="Image 1">
            <!-- <img src="/img/ADL_5126-780x437.jpg" class="slide" alt="Image 2">
                    <img src="/img/1725279091827.jpeg" class="slide" alt="Image 3">
                    <img src="/img/empower.jpg" class="slide" alt="Image 3">
                    <img src="/img/331304175_874135340556438_7350222964583699050_n.jpg" class="slide" alt="Image 3"> -->
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>

    <p>The Making it Work initiative is run by Humanity and Inclusion. IFA was selected among various organizations in
        Africa
        leading good practices in the area of ending violence against women. In 2014/2015, IFA conducted a research on
        the
        effect of violence conflict on women with disabilities in Plateau state, Nigeria tagged “What Violence Means to
        Us;
        Women with Disabilities Speak”.

        IFA won a small grant with Humanity and Inclusion to implement an action plan drawn on ending GBV on women with
        disabilities in Plateau. We drafted a model of economic empowerment to grant these women capacity and the agency
        to
        speak against and be self-dependent from their violators.

        IFA has recently acquired a piece of land in Riyom Local government through the traditional institution to build
        a
        poultry farm to implement the “We Farm” initiative where the identified women grow their farm and IFA does
        marketing for
        their products for them. We are currently sourcing funds to build the poultry farm for the women to begin
        growing their
        birds.</p>


</div>