<div class="publications-div container">
    <h1>Publications</h1>

    <div class="publications">

        <% docData.reverse().forEach(doc => { %>
         
            <div class="publication">
                <% if (doc && doc.thumbnail && doc.thumbnail.length> 0) { %>
                        <img src="/documents/<%= doc.thumbnail %>" alt="Thumbnail">
                            <% } else { %>
                                <p>No thumbnail available.</p>
                                <% } %>
                <h4><%= doc.title %></h4>
                <a href="/documents/<%= doc.documentDoc %>" target="_blank">Download</a>
            </div>
        <% }) %>

    </div>
</div>

