<!-- Who we are Page Section  -->
<div class="who-we-are-page">
    <h1>Who We Are </h1>
    <p>The Inclusive Friends Association (IFA) is a Person with Disability (PWD) woman-led non-profit organization that
        promotes the rights of Persons with Disabilities in Africa. Operating extensively throughout Nigeria, IFA stands
        as an
        innovative frontrunner and influential force within the disability community.</p>
    <img src="/img/IFAElection.jpg" alt="">

    <p>Disability inclusion is at the core of our programming. We employ ART (Advocacy, Research, and Training) as a
        framework
        for our interventions that drive positive change in the lives of PWDs. Through relentless advocacy efforts, we
        are
        creating a lasting impact by influencing national and subnational policies and practices. By engaging state and
        non-state actors, we are fostering an inclusive environment that recognizes and respects the rights of people
        with
        Disabilities.</p>
    <p>Research is the cornerstone of our evidence-based approach. We believe in generating concrete data and knowledge
        to
        understand the needs and challenges faced by our communities, which informs our interventions.</p>
    <p>We forge a path to a more inclusive society by investing in individuals, partners, and government officials by
        strengthening their capacity to create lasting impact and support a more inclusive society.</p>
    <p></p>
</div>

<div class="tab-container">
    <!-- Tab Navigation -->
    <div class="tab-buttons">
        <button class="tab-button active" data-tab="tab1">Our vision</button>
        <button class="tab-button" data-tab="tab2">Our Mission</button>
        <button class="tab-button" data-tab="tab3">Our Core Values</button>
    </div>

    <!-- Tab Content -->
    <div class="tab-content active" id="tab1">
        <h2>Tab 1 Content</h2>
        <p>This is the content of Tab 1.</p>
    </div>
    <div class="tab-content" id="tab2">
        <h2>Tab 2 Content</h2>
        <p>This is the content of Tab 2.</p>
    </div>
    <div class="tab-content" id="tab3">
        <h2>Tab 3 Content</h2>
        <p>This is the content of Tab 3.</p>
    </div>
</div>