@media (max-width: 768px) {
    .container {

        padding-inline: 10px;

    }

    .top-nav .right-nav {
        display: none;
    }

    .header .header-left .header-links {
        display: none;
    }

    .header .header-right {
        display: none;
    }

    .header .header-menu {
        display: block;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero .hero-left {
        width: 100%;
        text-align: center;
    }

    .hero .hero-left h1 {
        font-size: 42px;
        line-height: 100%;
    }

    .cta-button {
        justify-content: center;
        flex-direction: column;
    }

    .cta-button a {
        font-size: 18px;
        padding: 15px 40px;
    }

    .hero .hero-right {
        width: 100%;
    }

    .hero .hero-left .child-2 {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-dark);
    }

    .what-is-hubspot {
        flex-direction: column-reverse;
        /* justify-content: center; */
    }

    .what-is-hubspot .what-is-hubspot-left {
        width: 100%;
        text-align: center;
    }

    .what-is-hubspot .what-is-hubspot-right {
        width: 100%;
    }

    .what-is-hubspot .what-is-hubspot-right {
        width: 100%;
    }

    .what-is-hubspot .what-is-hubspot-right h2 {
        text-align: center;
        font-size: 48px;
    }

    .what-is-hubspot .what-is-hubspot-right p {
        text-align: center;
        font-size: 18px;
        line-height: 32px;
    }

    .what-we-do {
        flex-direction: column-reverse;
        /* gap: 0; */
        /* justify-content: center; */
    }

    .what-we-do .what-is-hubspot-left {
        width: 100%;
        text-align: center;
    }

    .what-is-hubspot .what-we-do-right {
        width: 100%;
    }

    .what-we-do .what-we-do-left {
        width: 100%;
    }

    .what-we-do .what-we-do-right {
        width: 100%;
    }

    .what-we-do .what-we-do-right h2 {
        text-align: center;
        font-size: 48px;
    }

    .what-we-do .what-we-do-right p {
        text-align: center;
        font-size: 18px;
        line-height: 32px;
    }

    .video-popup {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    .video-popup-content {
        width: 90%;
        max-width: none;
        /* Remove the max-width limit on mobile */
    }

    .video-popup-content iframe {
        width: 100%;
        height: 315px;
    }

    .services .services-text {
        width: 100%;
    }

    .services .services-text p {
        font-size: 18px;
        line-height: 32px;
        padding-inline: 10px;
    }

    .services-cards {
        flex-direction: column;
    }

    .services-cards .card {
        width: 100%;
    }

    .small-biz {
        flex-direction: column;
        padding: 20px;
    }

    .small-biz .small-biz-left {
        width: 100%;
    }

    .small-biz .small-biz-right {
        width: 100%;
        border-radius: none;
    }

    .small-biz .small-biz-right img {
        border-radius: 5px;
    }

    .solution .solution-cards {
        flex-direction: column;
    }

    .solution .solution-cards .solution-card {
        width: 100%;
    }

    .solution .solution-cards .solution-card .solution-card-text {
        height: 50px;
    }

    .team-div {
        flex-wrap: nowrap;
        flex-direction: column;
        padding-inline: 5px;
        padding-bottom: 20px;
    }

    .team-div .team-member {
        width: 100%;
    }

    .team-section {
        padding-block: 20px;
    }

    .subscribe_wrapper h1 {
        font-size: 40px;
    }

    .products,
    .solutions,
    .resources {
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .header-links .products .about-us-drop {
        display: none;
        position: absolute;
        background-color: var(--color-white);
        padding: 10px;
        top: 53px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px #e3e2e27b;
    }

    .header-links .products:hover>.about-us-drop {
        display: block;
    }

    .header-links .products .about-us-drop li a {
        display: block;
        color: var(--color-dark);
        padding: 10px 10px;
        font-weight: 500;
    }

    .header-links .products .about-us-drop li a:hover {
        color: var(--color-accent);
        background-color: #B6C7D6;
    }

    .header-links a {
        color: var(--color-dark);
        font-weight: 600;
    }

    .header-links .solutions .programs-drop {
        display: none;
        position: absolute;
        background-color: var(--color-white);
        padding: 10px;
        top: 53px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px #e3e2e27b;
    }

    .header-links .solutions:hover>.programs-drop {
        display: block;
    }

    .header-links .solutions .programs-drop li a {
        display: block;
        color: var(--color-dark);
        padding: 10px 10px;
        font-weight: 500;
    }

    .header-links .solutions .programs-drop li a:hover {
        color: var(--color-accent);
        background-color: #B6C7D6;
    }

    .header-links a {
        color: var(--color-dark);
        font-weight: 600;
    }

    .news-page .search-div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        /* flex-direction: column; */
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .news-page .search-div input[type="text"] {
        width: 70%;

    }

    .news-page .search-div button {
        width: 30%;
    }

    .news-page {
        background-color: var(--color-white);
        width: 100%;
        margin: 20px auto;
    }

    .news-page .news-list {
        padding: 0px 10px;
    }

    .news-page .news-list .news {
        border-bottom: 1px solid var(--color-grey-hr);
        width: 100%;
        padding-block: 20px;
    }

    .news-page .news-list .news .news-top {
        width: 100%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: 10px;
        align-items: top;
    }

    .news-page .news-list .news .news-top .news-img {
        width: 100%;
    }

    .news-page .news-list .news .news-top .news-info {
        width: 100%;
    }

    .news-page .news-list .news .news-top img {
        width: 100%;
        height: 120px;
        display: block;
        border-radius: 5px;
        object-fit: cover;
        object-position: top center;
    }

    .news-page .news-list .news .news-top .headline {
        font-size: 22px;
        color: var(--color-dark);
        margin-bottom: 5px;
    }

    .menubarnav .header-links {
        width: 100%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: 10px;
        align-items: left;
        margin: 0 auto;
    }




    .header-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .header-links li {
        text-align: center;
        padding: 10px;
    }

    .header-links a {
        text-decoration: none;
        color: #333;
    }

    .header-links .has-submenu {
        position: relative;
    }

    .header-links .has-submenu:hover .submenu {
        display: block;
    }

    .header-links .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
    }



    .copywright {
        background-color: var(--color-accent);
        padding: 10px 10px;
        font-size: 12px;
    }

    /* WHO WE ARE PAGE  */
    .who-we-are-page {
        width: 90%;
        margin: 0 auto;
        /* padding-block: 30px; */
    }

    .who-we-are-page h1 {
        font-size: 42px;
        color: var(--color-accent);
        margin-block: 10px;
    }

    .who-we-are-page img {
        width: 100%;
        height: 400px;
        max-width: 800px;
        margin-block: 10px;
        object-fit: cover;
    }

    .tab-container {
        width: 90%;
        margin: 0 auto;
        background-color: var(--color-accent);
        padding: 20px;
        border-radius: 20px;
    }
 .what-we-do {
    padding-block: 0;
 }
    .what-we-do-page h1 {
        font-size: 42px;
        color: var(--color-accent);
        margin-block: 10px;
        padding-inline: 20px;
    }

    .what-we-do-page p {
        font-size: 24px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        line-height: 32px;
        padding-inline: 20px;
        color: var(--color-dark);
        width: 100%;
        padding-block: 30px;
    }

    .slider-container {
        position: relative;
        /* width: 100%; */
        max-width: 90%;
        height: 200px;
        
        margin: auto;
        overflow: hidden;
        border: 2px solid #ddd;
        border-radius: 10px;
    }
    
    .slider-container img {
        
        object-fit: contain;
        object-position: top center;
    }

           .publications-div {
               width: 100vw;
               margin: 0 auto;
           }
        .publications-div .publications .publication {
            width: 100%;
            background-color: var(--color-white);
            border-radius: 20px;
            overflow: hidden;
            border: 1px solid var(--color-light-gray);
            transition: all .3s ease;
        }
                .publications-div .publications .publication h4 {
                    color: var(--color-accent);
                    height: 100px;
                    font-weight: 600;
                    padding-inline: 10px;
                    font-size: 20px;
                    padding-block: 10px;
                }

.publications-div .publications .publication a {
    color: var(--color-white);
    background-color: var(--color-accent);
    text-align: center;
    padding: 20px 10px;
    font-weight: 500;
    transition: all .5s ease;
}
}